/* Плитка події */
.event-tile {
  font-family: "Revalia", cursive;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 90%; /*  ширина плиток */
  margin-bottom: 50px;
  transition: transform 0.3s ease-in-out, background-color 0.4s ease, box-shadow 0.3s ease-in-out;
  position: relative;
}

/* При наведенні на плитку */
.event-tile:hover {
  transform: scale(1.05);
  background-color: #e0f7fa;
  box-shadow: 0 12px 40px rgba(0, 89, 255, 0.3);
  cursor: pointer;
}

/* Зображення події */
.event-image {
  width: 10%; /*  ширину зображення */
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.event-tile:hover .event-image {
  transform: scale(1.1);
}

/* Деталі події */
.event-details {
  width: 75%; /*  під нове зображення */
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

/* Заголовок події */
.event-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  transition: color 0.3s ease;
}

.event-tile:hover .event-title {
  color: #007bff;
}

/* Дата, час, локація */
.event-date-time,
.event-location {
  font-size: 1.8rem;
  color: #666;
  transition: color 0.3s ease;
}

.event-tile:hover .event-date-time,
.event-tile:hover .event-location {
  color: #007bff;
}

/* Опис події */
.event-description {
  font-size: 1.2rem;
  margin-top: 8px;
  color: #555;
  line-height: 1.6;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.event-tile:hover .event-description {
  opacity: 1;
}

/* Основний стиль для кнопки скролу */
.scroll-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px 18px;
  border-radius: 30%;
  background-color: #007bff;
  color: white;
  font-size: 28px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: none;
}

.scroll-to-top-button.show {
  display: flex;
}

.scroll-to-top-button:hover {
  background-color: #0056b3;
  transform: scale(1.2);
}

/* Адаптація під ноутбуки */
@media (max-width: 1366px) {
  .event-tile {
    width: 90%; /* Трохи збільшена ширина плиток */
  }

  .event-image {
    width: 30%; /* Ширина зображення адаптована під екрани ноутбуків */
  }

  .event-details {
    padding: 20px;
  }
}

/* Адаптація під телефони */
@media (max-width: 768px) {
  .event-tile {
    flex-direction: column; /* Вертикальна організація плитки */
    width: 95%; /* Ширина для мобільних */
    margin: 10px;
  }

  .event-image {
    width: 100%; /* Зображення займає всю ширину плитки */
    height: auto; /* Автоматична висота */
  }

  .event-details {
    width: 100%;
    padding: 15px;
  }

  .scroll-to-top-button {
    bottom: 15px;
    right: 15px; /* Виправлено відступ */
    font-size: 22px;
    padding: 10px 15px;
  }
}
