.footer {
  font-family: "Revalia", cursive;
  background: linear-gradient(90deg, #c1dff9, #246db6); /* Градієнтний фон, протилежний до хедера */
  padding: 10px 0; /* Відступи для зручності */
  color: #31383f;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Тінь зверху для футера */
}

.footer h5,
.footer p {
  font-size: 21px;
  color: #31383f;
  transition: text-shadow 0.3s ease;
}

.footer h5:hover,
.footer p:hover {
  text-shadow: 10px 10px 10px rgba(14, 25, 179, 0.7); /* Підсвічування тексту при наведенні */
}

.footer a {
  text-decoration: none;
  color: #31383f;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #61dafb; /* Плавний перехід кольору при наведенні */
}

.footer .social-icon:hover,
.footer .social-icon:focus {
  color: #61dafb;
  text-shadow: 0px 0px 15px rgba(14, 25, 179, 0.9); /* Яскравіша підсвітка при наведенні */
  transform: scale(1.2); /* Легке збільшення іконок при наведенні/фокусі */
}


.footer .social-icon:hover,
.footer .social-icon:focus {
  color: #61dafb;
  text-shadow: 0px 0px 15px rgba(14, 25, 179, 0.9); /* Яскравіша підсвітка при наведенні */
  transform: scale(5); /* Легке збільшення іконок при наведенні/фокусі */
}

.footer .contact-info p {
  font-size: 14px;
  color: #e9ecef;
}

.footer .logo img {
  width: 100px;
}

.footer .bottom-text {
  font-size: 12px;
  color: #e9ecef;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer .social-icons {
    justify-content: center;
  }
  .footer ul {
    text-align: center;
  }
}
